<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.neu.madcourse.duyvu">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".Globals"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat">
        <activity
            android:name=".hellomad.MainMenu"
            android:label="@string/main_menu_title"
            android:screenOrientation="portrait">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".hellomad.AboutMe"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tictactoe.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tictactoe.GameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wordgame.WGGameActivity"
            android:label="Scroggle"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".wordgame.WGMainActivity"
            android:label="Scroggle"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".wordgame.WGPausedActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".dictionary.DictionaryMainActivity"
            android:label="@string/test_dictionary"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dictionary.DictionaryAcknowledgeActivity"
            android:label="@string/test_dictionary"
            android:screenOrientation="portrait" />
        <activity
            android:name=".communication.fcm.FCMActivity"
            android:label="FCMActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".communication.MainActivity"
            android:label="MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".communication.realtimedatabase.RealtimeDatabaseActivity"
            android:label="RealTime Database"
            android:screenOrientation="portrait" />

        <service android:name=".communication.fcm.WordGameMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".communication.fcm.WordGameInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>